* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.label {
  font-size: 0.2em;
  color: black;
}

h1 {
  text-align: center;
  font-size: 2.6em;
  margin-bottom: 58px;
}

@media only screen and (max-width: 768px) {
  .flipTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
